<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.Seguridad.DL.DALC.Properties.Settings.sCadenaConexion"
            connectionString="server=(local); database=Seguridad; User Id=sa; Pwd=password" />
    </connectionStrings>
</configuration>